@media screen and (max-width: 480px) {
  section, .gutter {
    padding: 1rem;
    overflow-x: hidden;
  }
  button {
    padding: 0.4rem .8rem !important;
  }
  
  /* Navbar */
  nav .nav-links {
    display: none;
  }
  nav .auth a {
    padding: .5rem 1rem;
  }
  
  /* Main Section */
  .page-wrapper {
    height: 50vh;
    flex-wrap: wrap;
    text-align: center;
  }
  .page-wrapper .text-wrapper p {
    max-width: 55ch;
  }
  .page-wrapper .banner-img {
    display: none;
  }
  
  /* Services */
  .services .service-list-lg, .services .service-list {
    margin-top: 2rem;
    gap: 1rem;
  }
  .services .service-list .text-wrapper p {
    max-width: 45ch;
  }
  .services .service-list .service-img {
    flex: 0 0 45%;
  }
  .services .service-list .blob {
    right: -10rem;
    width: 65%;
  }
  .services .service-list .blob-alt {
    left: -10rem;
    width: 65%;
  }
  
  /* Asset valuation booking */
  .booking {
    margin: 0 1rem;
  }
  .booking .booking-wrapper a {
    padding: 0.5rem 1rem;
    font-size: .95rem;
  }
  
  /* Authentication Section */

}

/* Add these media queries to adjust the overlay position on smaller screens */
@media (max-width: 768px) {
  .auth-container {
    margin-top: 2rem;
    min-height: 750px;
    min-width: 450px;
  }
  .auth-container .form-container {
    height: 50%;
    width: 100%;
    transition: all .6s ease-in-out;
  }
  .auth-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px;
    height: 100%;
    background: #eae5f1;
  }
  .auth-container.right-panel-active .signin-container {
    transform: translateY(100%);
  }
  .signup-container {
    width: 100%;
  }
  .auth-container.right-panel-active .signup-container {
    transform: translateY(100%);
    animation: show .6s;
  }
  .overlay-container {
    top: unset;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 50%;
  }
  .auth-container.right-panel-active .overlay-container {
    transform: translateY(-100%);
  }
  .overlay-container .overlay {
    background: var(--primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }
  .auth-container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  .overlay-container .overlay-panel {
    top: 0;
    height: 100%;
    width: 50%;
  }
  .overlay-left {
    left: 0;
    transform: translateY(-25%);
  }
  .auth-container.right-panel-active .overlay-left {
    transform: translateY(0);
  }
  .overlay-right {
    right: 0;
    transform: translateY(0);
  }
  .auth-container.right-panel-active .overlay-right {
    transform: translateY(25%);
  }
}